<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="GHET Sample Category"
            id="ghet-plugin">
      </category>
      <view
            name="GHET Sample View"
            icon="icons/sample.gif"
            category="ghet-plugin"
            class="ghetplugin.views.GhetSampleView"
            id="ghetplugin.views.GhetSampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
